[2015-06-23 12:00] AveVlad opened #1 "."
![20150620_140152](https://cloud.githubusercontent.com/assets/2889662/8305530/a65efff6-19b8-11e5-9e90-86cdb28b454a.jpg)

[2015-06-23 13:54] ovr commented on #1
![](http://hugelolcdn.com/i700/270421.jpg)

[2015-06-23 13:54] #1 closed

[2015-06-29 11:22] kalessil opened #3 "Build a phar package for easier integration with CI tools"
Php CS fixer, PhpUnit and others are providing this kind of package and it's very handy when integrating those tools into CI-infrastructure.

[2015-06-30 03:26] ovr commented on #3
Thank you for this idea
I will mark  issue as enhancement and I will do it on first ALPHA version
For now project is pre-pre-pre-pre-pre-pre alpha :)

[2015-07-08 05:05] ovr opened #10 "Logotype wanted"
For now I created
![](http://dmtry.me/img/logos/phpsa.png)

Maybe anyone will be interested to create new logo ;)

[2015-07-08 14:00] ufocoder commented on #10
Yo! You can take one of these [free icons](https://www.iconfinder.com/search/?q=analytics&price=free) for SA's logo I think.

[2015-07-09 03:44] ovr commented on #10
Nice idea @ufocoder :beers:

[2015-07-15 18:17] ovr opened #11 "Application hash version without git"
shamcodeКстати, вот это-то почему так: exec('git describe --always', $version_mini_hash)
shamcode?
shamcodeВ Application.php
Arcanight joined the room.
shamcodeДа не про это )
shamcodeНу смотри: а если у меня нет git и/или это продакшен версия?

[2015-07-17 16:20] ovr opened #13 "PostInc/PostDec is not supported {expr}, only variables"
In subjectm, think about it

[2015-07-17 16:54] ovr opened #14 "Implement NS Manager"

[2015-07-17 16:55] ovr opened #15 "Implement pass Node\Expr\New_ with NS Manager"
refs https://github.com/ovr/phpsa/issues/14

[2015-07-20 11:18] ovr opened #16 "Implement own Output logger"

[2015-07-21 11:25] ovr opened #17 "Implement JSON output"

[2015-07-23 12:54] ovr opened #18 "Implement HTML Output"

[2015-07-24 11:27] ovr opened #19 "Implement Block(s) for Branches"

[2015-07-29 18:43] ovr opened #20 "Implement dummper"

[2015-08-01 15:27] ovr opened #21 "Implement Branch prediction"

[2015-08-21 05:29] ovr commented on #3
Implemented, continue to work on pre alpha version

[2015-08-21 05:29] #3 closed

[2015-08-21 05:40] ovr commented on #11
Tested, this can work without git

[2015-08-21 05:40] #11 closed

[2015-09-07 11:30] funivan opened #26 "Code structure"
Hi. Your library is great. I can make some validations.
But is is hard for me to understand structure of your library.
For example i want to create "Missing @return keyword"   but I don’t know where i should place validation class.
Other thing is interface.
One class declared as  `class Statement {` other `class Mod extends AbstractExpressionCompiler`
possible it will be useful to create single in

[2015-09-07 12:17] ovr commented on #26
Hey!

About analyzers, this will be implemented soon, maybe in 1 month
I am working on this now

Буду отдельно анализаторы (как сущьность), а текущий код я вынесу из Visitor - которые как раз Compiler станут

Это еще прототип, скоро будет очень много новых фишек)

[2015-09-30 17:42] ovr commented on #26
@funivan
https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/FunctionCall/RandomApiMigration.php

[2015-09-30 17:42] #26 closed

[2015-10-13 11:50] EmanueleMinotto opened #28 "Regular expressions check"
https://github.com/marcioAlmada/regex-guard

Could this project be interesting for an integration into phpsa?

[2015-10-28 09:18] ovr commented on #28
@EmanueleMinotto
Yeap, I saw it before, This will helpfull with awesome regex check
Than you for notify about it

For now I am working on first alpha release with stable core :)

[2015-11-09 11:41] ovr opened #32 "Implement check for "stupid empty use""
[code]

[2015-11-09 12:23] ovr opened #33 "Implement check for "uneeded if use 1 return""
[code]

Need to be

[code]

[2015-11-09 19:56] sergeyklay commented on #32
Hahaha! :)

[2015-11-09 19:58] sergeyklay commented on #32
Can you please show me real source with such code? :)

[2015-11-10 07:37] ovr commented on #32
@sergeyklay
Мне вчера прислали такой код!))

[2015-11-10 09:58] sergeyklay commented on #32
:neutral_face:

[2015-11-10 10:08] ovr commented on #32
:crying_cat_face:

[2015-11-10 19:42] ovr opened #34 "Implement check for unexcepted fcall for debug functions"
Warning for

[code]

But this can be ignored

[code]

[2015-11-15 21:30] ovr opened #35 "Use cast operator instead of fcall"
Example

[code]

Use (int)

[code]

[2015-12-14 19:38] #35 closed

[2015-12-16 14:39] ovr commented on #34
Implements

[2015-12-16 14:39] #34 closed

[2015-12-18 19:33] ovr opened #38 "Implement Analyzer for VarExport with 2th parameter in unexpected context"

[2015-12-26 18:18] ovr opened #39 "Implement Configuration via config file"
Format json, yml

[2015-12-30 20:41] ovr opened #40 "Implement CFG"
control flow graph

[2015-12-31 16:38] ovr opened #41 "Implement property stats"
To implement check for unused properties

[2016-01-07 20:12] ovr opened #42 "Implement tests runner for fixtures"

[2016-03-25 19:22] ovr opened #44 "Implement check for return in __construct / __destruct"

[2016-03-31 08:45] ovr opened #45 "Implement check for compare with array"
Example

[code]

Expected count via it is an array type

[code]

[2016-05-05 12:57] ovr opened #47 "Check about thank variable is a callable and suggest to add type hint"
[code]

Suggest

[code]

[2016-05-11 17:44] ovr commented on #17
Implemented

[2016-05-11 17:44] #17 closed

[2016-05-11 17:44] ovr opened #48 "Implement full support for class's property fetch with tests"

[2016-05-11 17:46] ovr opened #49 "Implement support for do while"

[2016-05-11 17:48] #49 closed

[2016-05-11 17:57] ovr opened #50 "Implement support for BInaryOp\SpaceShip"
[code]

+ tests

[2016-05-16 01:02] ovr opened #52 "Implement support for Node\Expr\BinaryOp\LogicalAnd"

[2016-05-16 19:18] ovr opened #53 "New analyzer - use argument unpacking (...) instead of func_get_args()"
To implement it We need to complete task:

Find function by name with func_get_args, example Pass\Expression\FunctionCall\*

Next We need to asert that `scopePointer` from `Context` is a method or function
After it Wee need to assert that parameters count is 0

Example that We need to detect and suggest
[code]

When we cant suggest another way

[code]

[2016-05-17 00:27] ovr opened #54 "Implement check for deprecated options for ini"
Find cool thing from

https://bitbucket.org/kalessil/phpinspectionsea/src/bb76ab33d694e8a8cf697c510b7b381188231354/src/com/kalessil/phpStorm/phpInspectionsEA/inspectors/codeSmell/DeprecatedIniOptionsInspector.java?at=master&fileviewer=file-view-default

[2016-05-17 10:13] ovr commented on #54
Implemented

[2016-05-17 10:13] #54 closed

[2016-05-17 10:16] ovr opened #55 "Implement ref value changing"
Example to review

[code]

[2016-05-17 22:31] ovr commented on #55
- [ ] Add tests

[2016-05-19 05:23] ovr commented on #44
- [ ] Added tests

[2016-05-21 08:10] ovr commented on #42
Implemented!

[2016-05-21 08:10] #42 closed

[2016-05-23 13:40] ovr commented on #53
Hey!

I added a small description for this task
seems this probably easy to implement
If it's not clear, ask me questions about this task

/c @rocketpastsix

Thanks 🍰

[2016-05-23 13:43] rocketpastsix commented on #53
yea Ill take a look at it. cheers!

[2016-05-23 13:47] ovr commented on #53
About `$scopePointer`,

After find function a call to `func_get_args`, you can get `scopePointer`:

[code]

[2016-05-23 16:22] dragoonis opened #56 "Advice for Disabling XDebug at Runtime"
Your documentation doesn't need to tell people to disable xdebug, it can be disabled for the particular run.

```php -n -d xdebug.enable=0 -f bin/phpsa```

If you don't want to apply -d params you can disable xdebug by calling ```xdebug_disable()``` which as per this link you will see it updated the zend_error_cb callback to the system default one instead of xdebug's - http://lxr.php.net/xref/PECL

[2016-05-24 00:41] ovr commented on #45
Hey!

Seems This will be rly easy to implement,
What We need to do?
Wee need to create a new Expression Analyzer with BinaryOp type hint
Subscribe for all binary operators (without <=> operator)
After it We need to compile left and right side and check is it an array type or not?

/c @ th3fallen

Thanks

[2016-05-24 00:50] ovr opened #57 "Implement analyzer for method signatures"
Noticed from Reddit:

I was looking for a project to do something somewhat like this earlier in the week.
Do you have plans (or implementation) to statically ensure that method signatures do not violate PHP s rules for extending and implementing?

[2016-05-24 01:02] ovr opened #58 "Implement Analyzer"
What does it mean?

Analyzer is a class that allowed to register a new pass with multiple bindings for events

- Analyzer
- Analyzer\Factory - with all analyzers - once place registration for all analyzers is a good idea

refs #45

[2016-05-24 01:29] ovr commented on #58
Implemented

[2016-05-24 01:29] #58 closed

[2016-05-24 01:57] ovr commented on #56
Thank you for notice 👍 🍰
Anyway `xdebug_disable ` will disable only callback error/exceptions handler, I've added a code to disable it and update README with notice about how to disable

Thanks

[2016-05-24 01:57] #56 closed

[2016-05-25 01:58] ovr opened #59 "Analyzer for https://wiki.php.net/rfc/forbid_dynamic_scope_introspection"
https://wiki.php.net/rfc/forbid_dynamic_scope_introspection

For the functions

- extract()
- compact()
- get_defined_vars()
- parse_str() with one arg
- mb_parse_str() with one arg
- assert() with string argument (eval)
- func_get_args()
- func_get_arg()
- func_num_args()

dynamic calls of the form

- $fn()
- call_user_func($fn)
- array_map($fn, $array)
etc.

will be forbidden. Such calls will re

[2016-05-25 07:31] ovr commented on #45
ping @th3fallen

[2016-05-25 13:50] th3fallen commented on #45
@ovr sorry had something come up at work thats going to absorb me for the next 10 days. i'll have to come back and lend a hand after. Sorry bro.

[2016-05-26 12:30] ovr opened #61 "Implement initial Closure support"
[code]

[2016-05-27 15:22] ddmler opened #63 "[Analyzer] Deprecated Functions"
Create an Analyzer which checks for usage of (in newer versions) deprecated functions. So if we check a PHP 5.5 script we get all warnings for php7 deprecations too.

We should add a configuration to turn this off.

for example this RFC passed: https://wiki.php.net/rfc/mcrypt-viking-funeral

So Mcrypt will be deprecated. Our Analyzer could recommend the use of paragonie/halite (or libsodium) inste

[2016-05-27 18:25] ovr commented on #53
Implemented by @ddmler 👍

[2016-05-27 18:25] #53 closed

[2016-05-27 18:27] ovr commented on #63
So, I introduce a configuration system, still working on it (disable/enable passes) and target platform (PHP 5.6, 7.0, 7.1)
Will push ASAP this feature

[2016-05-30 02:13] ovr opened #67 "[Analyzer] Duplicated array keys on init"
[code]

[2016-05-30 09:41] ovr opened #68 "[Analyzer] Unexpected use of $this"
refs https://wiki.php.net/rfc/this_var

[code]

[2016-05-30 09:43] ovr opened #69 "Implement support for Unset operator"
[code]

[2016-05-30 10:16] ddmler commented on #69
i think unset() is a function and no operator. Maybe we should also add a warning to the (unset) cast since it is not the same as the unset() function. (and the (unset) cast is pretty useless)

[2016-05-30 11:09] ovr opened #70 "Implement support for PHP function unset"
[code]

[2016-05-30 11:10] ovr commented on #69
@ddmler Hey!

Unset can be
- Operator http://php.net/manual/ru/function.unset.php
[code]

- Function http://php.net/manual/ru/function.unset.php
[code]

I created another issue for unset fcall https://github.com/ovr/phpsa/issues/70

[2016-05-30 11:11] ovr commented on #69
Or I am wrong, I will test it now

[2016-05-30 11:23] ovr commented on #69
So, I am wrong unset is an operator (because it's handled by VM OPCODE) but with function call like syntax

And @nikic's php-parser named it like PhpParser\Node\Stmt\Unset_

From PHP-src I didnt find `PHP_FUNCTION(unset)` but find statement with opcode
Review https://github.com/php/php-src/blob/2ae21abdf7b87ee95d76aca22e787408d7c766cf/Zend/zend_vm_opcodes.c#L99

Seems there are some parts

- [ ] U

[2016-05-30 11:23] ovr commented on #70
I am wrong

[2016-05-30 11:23] #70 closed

[2016-05-30 11:25] ovr commented on #68
ping @ddmler
What do you think about it?

[2016-05-30 11:28] ovr opened #71 "Variable - added referenced count"
Maybe this will be helpfull to detect some bugs
Super referenced variables after cycles or etc

[2016-05-30 11:47] ddmler commented on #68
I will try to implement it

[2016-05-30 17:04] ddmler opened #75 "[Analyzer] Not used dangerous functions"
We have a list of possibly dangerous functions (like exec, eval, system, ...) and keep track which functions are used in the project. At the end we array_diff both lists and get a list of possibly dangerous functions that are not used in the project.
We then recommend to disable those functions in php.ini

[2016-05-31 14:11] ovr opened #76 "Implement initial support for Trait"
[code]

[2016-06-03 19:07] ddmler opened #78 "[Bug] UseCast Analyzer intval 2 arguments"
While checking a file with ./bin/phpsa which has something like:
`intval(1,2);`
we get this error:
PHP Notice:  Undefined offset: 1 in ...phpsa/vendor/ovr/phpreflection/src/FunctionReflection.php on line 160

This error only occurs when intval has 2 arguments.
`intval(1);`
works fine.

[2016-06-04 14:51] ovr commented on #78
Reproduced and fixed, check it by

[code]

Thanks

[2016-06-05 07:56] ovr commented on #78
ping @ddmler

[2016-06-07 06:43] ovr opened #79 "[Analyzer] @test can be useless if method prefixed with test / PHPUnit"
Snippet:

[code]

Notice:

Annotation @test does not needed because method prefixed with test

[2016-06-08 12:34] ovr opened #80 "Implement a component to read annotations for methods"
This will rly helpfull to detect
@return
@param
@tests

and etc

[2016-06-09 10:23] ddmler commented on #78
:+1: works. i will add a test later for this.

[2016-06-14 14:20] ovr opened #81 "Implement SymbolTable class"
- add
- clear
- merge
- __debugInfo

Will work on it

[2016-06-15 03:55] #78 closed

[2016-06-16 14:49] ovr opened #83 "Fixes issues on check PHPSA by PHPSA"

[2016-09-06 07:06] ovr opened #91 "[Analyzer] Foreach - possible to write in referenced variable"
Simple snippet:

[code]

https://3v4l.org/ndpr0

WIll be bug, `$elements` = [1,2,3,4,6]

Notice:

[code]

[2016-09-06 07:09] ovr commented on #81
Continue working on it...

[2016-09-06 10:37] ddmler commented on #63
This issue can be closed what's missing is the configuration, which is issue #39

[2016-09-06 13:22] ddmler commented on #28
i think this is done @ovr

[2016-09-06 13:33] ddmler opened #95 "[Analyzer] DocBlocks"
First we need to get missing docblock for properties working: https://github.com/ovr/phpsa/blob/master/src/Compiler/Expression.php#L263

Then for methods:
- Missing/wrong type @return
- Missing/wrong type @param
(missing whole docblock for methods is already working)

[2016-09-06 13:54] ovr commented on #95
Yes I was trying to support it, but it's not easy as I see

Docblocks is based on NS and needed to create NS context to pass it intro phpdocument
annotations analyzer, review `composer.json` package to find this extra component

Will be rly cool to have this, will help with protecting and understanding what is the variable type

Seems PHP annotations is needed for:

- Properties
- Methods
- Classe

[2016-09-06 13:56] ovr opened #96 "[Compiler] NFR Support for nikic/php-parser 3.* version"
For now it's beta but needed to support in PR and merge after release
There are some BC-s in this component

Full log in:
https://github.com/nikic/PHP-Parser/releases/tag/v3.0.0alpha1

[2016-09-06 14:01] ovr commented on #28
@ddmler Thank for notice, I am going to close, because as you said, it's done :)

[2016-09-06 14:01] #28 closed

[2016-09-06 14:38] ddmler opened #97 "[Bug] Calling parent constructor"
When using
`parent::__construct();`
we get a notice from phpsa: method __construct() is not static but was called as static way

this is however the right way to call the parent constructor (and destructor)

[2016-09-06 18:43] ddmler commented on #68
- [ ] setting $this via variable variables
- [ ] $this function parameter
- [ ] $this via parse_str(), extract(), list() (do we really need that?)
- [ ] and this: (?)
[code]

[2016-09-06 18:53] sergeyklay commented on #68
[code]

[code]

[2016-09-08 02:28] 3cooper opened #102 "fatal: Not a git repository"
When I run phpsa (  `>vendor/ovr/phpsa/bin/phpsa check file.php` ) I get the findings from the analysis but I also get lines saying: `fatal: Not a git repository (or any of the parent directories): .git`.  I am new to composer and phpsa so I could have something configured incorrectly.  Any help would be great.

[2016-09-08 08:46] ddmler commented on #102
Try to remove your vendor directory and run composer install again.

[2016-09-08 11:33] K-Phoen opened #103 "Old style constructors"
PHPSA should warn about old style class constructors.

[code]

[2016-09-08 12:21] 3cooper commented on #102
I did, reinstalled composer, and then reinstalled phpsa and I still get the error.

[code]

[2016-09-08 12:22] ravage84 commented on #102
This happened to me, too, but I didn't install it through Composer but used phpsa (0.5.0) as phar on my SVN working copy.

[2016-09-08 12:29] 3cooper commented on #102
I just uninstalled the composer version and installed the phar version.  I get the same error.

[code]

[2016-09-08 12:35] ddmler commented on #102
Try to edit phpsa.yml config file and set blame to false. On true it executes git blame --show-email for every shown notice.

[2016-09-08 13:27] 3cooper commented on #102
I am new to phar.  Where can i find the yml file?  I am on OS X.

[2016-09-08 14:07] ovr commented on #103
Rly cool idea 👍

[2016-09-08 17:23] ddmler commented on #102
It's in the directory of phpsa. It's .phpsa.yml and it's a hidden file (because of the . in front) so you won't see it if you did not configure it. But the configuration there is not working at the moment.
For now try to do this:
[code]
This should remove the git error messages.

[2016-09-08 17:47] 3cooper commented on #102
That did it.  Thanks.

[2016-09-08 20:18] ddmler opened #106 "[Bug] Unused variable is being used"
Running phpsa on phpsa:
`Unused variable $expressionClass in method beforeCompile() in src/Analyzer/EventListener/StatementListener.php`

However $expressionClass is used as an array index.

[2016-09-08 21:33] ddmler opened #107 "[Bug] Fetch property on non object"
Running phpsa on phpsa:
`It's not possible to fetch property on not object in ./src/Analyzer/Pass/Statement/UnexpectedUseOfThis.php on 89`

What's happening: We have an array of objects and loop through it with foreach. On each object we fetch a property. So it actually is an object.

Same here:
`./src/Compiler/Expression/BinaryOp/Equal.php on 29`
Here it's the $context variable that got injected

[2016-09-09 00:03] ddmler opened #108 "[Analyzer] class properties defined with var"
[code]
possible notice message:
`Class property x was defined with the deprecated var keyword. Use a visibility modifier instead.`

[2016-09-09 06:56] cdekok opened #109 "Update "phpdocumentor/type-resolver""
I wanted to install it global with composer but
"phpdocumentor/type-resolver": "^0.1.8", prevents it as a newer version is used on phpunit.

[2016-09-09 10:17] ddmler opened #110 "[Bug] Array analyzer for class property"
When checking
https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/FunctionCall/RandomApiMigration.php

We get no notice from the ArrayShortDefinition analyzer. However we have a long style definition at $map property.

[2016-09-09 13:15] ddmler opened #113 "[Bug] FuncCall analyzers"
So when checking with phpsa:
[code]
we get a notice: rand() is not recommended ...
and:
[code]
we get again a notice: rand() is not recommended ...
whereas:
[code]
we get nothing.
and:
[code]
we get nothing again.

The AST we get from php-parser is as follows:
return_object->expr = FuncCall_object
assign_object->expr = FuncCall_object
echo_object->exprs = array(FuncCall_object)
statements = array(

[2016-09-09 13:24] ddmler commented on #110
possibly the same as #113 since here it is also nested in an array.

[2016-09-10 21:55] ddmler opened #117 "[Analyzer][Easy] Don't use Goto"
This is an easy task suitable for someone who is new to this project.
We need a Statement analyzer for: Node\Stmt\Goto_

Just copy an existing Statement analyzer and hook it up to the Goto_ node (1st argument of pass method and getRegister method)
All you have to do inside the pass method is create the notice and return true.
(Don't forget to add it to the factory and create 2 tests: one with goto

[2016-09-10 22:03] ovr commented on #113
@ddmler

I think this caused because PHPSA doesn't support GLOBAL SCOPE for compiling in `Compiler` component
Current it's only `Function` or `Class`

[2016-09-10 22:07] ddmler commented on #113
@ovr
That would explain the 4th example but the 3rd with function and echo in it doesn't work too and here it is a function. :cry:

[2016-09-10 23:09] ovr commented on #113
@ddmler related to 3rd I find a NFR on unimplemented `Echo_` compiler, start to work on it

[2016-09-10 23:13] ovr commented on #113
@ddmler You was right related 3rd example, for now It's supporting in `master`
Related to https://github.com/ovr/phpsa/commit/19c440404ae570fb33a2b4d02bcdcb0bb13fe8c1

Thanks

[2016-09-12 15:08] ovr commented on #117
@ddmler Seems it's merged and implemented, should we close this issue?
Thanks

[2016-09-12 16:41] ddmler commented on #117
@ovr yes issue can be closed.

[2016-09-12 16:44] ddmler commented on #103
still needed:
- [ ] Refactor to work with ClassDefinition hasMethod()

[2016-09-12 16:45] ovr commented on #103
@ddmler I will work on it

[2016-09-12 16:45] #117 closed

[2016-09-12 16:47] ddmler commented on #52
@ovr isn't this already done?

[2016-09-12 16:48] ddmler commented on #44
@ovr this issue is done and can be closed :+1:

[2016-09-12 16:59] ovr commented on #52
@ddmler As I known it's not implemented :(

[2016-09-12 18:14] ddmler opened #121 "[Compiler] Support for missing nodes"
Those are missing I think:
Compiler Statement:
all done!

Compiler Expression:
StaticPropertyFetch

If someone wants to implement some of them please comment here which of them first.
Those that are in a PR are edited out of the list.

[2016-09-12 19:07] #63 closed

[2016-09-14 12:50] brian978 opened #123 "Implement PHP version config option"
The command for running the analyser should contain a PHP level configuration option to avoid showing syntax notices that are not needed for a PHP version. _For example_, the notice "Please use \[\] (short syntax) for array definition." is pointless considering my code must run on PHP 5.3

[2016-09-15 05:51] #52 closed

[2016-09-15 05:57] #109 closed

[2016-09-15 09:31] ddmler commented on #95
- [ ] [Analyzer] issue a warning when using something which is annotated with `@deprecated`
- [ ] [Analyzer] display all found `@todo` comments
- [ ] #79
- [ ] #80
- [ ] missing-doc analyzer: add check for docblocks of parents/interfaces etc. since they are inherited

to add to the list above:
- `@todo`
- `@var`
- `@property`
- `@property-read`
- `@property-write`

[2016-09-15 09:44] ddmler opened #125 "[Analyzer] Constant names should be all uppercase"
This should be fairly easy. It's Node\Stmt\Const_

[2016-09-16 14:07] ddmler opened #127 "[MissingBreak] ok to omit break in last case"
Since the break for the last case statement is not necessary and has no effect, the analyzer shouldn't care about it.
@K-Phoen what do you think and do you want to add the check?

[2016-09-16 18:15] K-Phoen commented on #127
@ovr can assign this issue to me, I'll do it :+1:

[2016-09-17 10:06] #113 closed

[2016-09-17 10:54] ovr commented on #97
Fixed by @K-Phoen in https://github.com/ovr/phpsa/pull/131
In `master` by https://github.com/ovr/phpsa/commit/2e4f70404cecd5ef6a413b250944abfd82e8cb54

[2016-09-17 10:54] #97 closed

[2016-09-18 12:51] #110 closed

[2016-09-18 13:01] #50 closed

[2016-09-18 13:03] ovr commented on #50
Closed via implemented by @ddmler

[2016-09-18 15:28] ddmler opened #141 "[Docs] Start working on documentation"
- [x] Infos what does each component (Compiler, Analyzer, CFG, Definitions?)
- [x] Infos what each analyzer does
- [x] Infos on configuration (PR from @K-Phoen )
- [x] How to write an own analyzer?
- [x] Update Readme.md (make it shorter, link to docs and contributing guide)
- [x] Check spelling and grammar (we have no native english speaker currently, so this would be really appreciated)
- [ ] Ju

[2016-09-18 17:54] K-Phoen commented on #141
Great ideas :+1:

[2016-09-20 19:41] ddmler opened #142 "[Tests] Add Compiler/Statement tests"
We need to write tests for all Compiler/Statement classes.

[2016-09-22 17:29] ddmler opened #143 "[Analyzer] Don't use Eval"
I think it's a simple FuncCall analyzer for `eval()`.

[2016-09-23 19:44] ddmler opened #144 "[Analyzer] More unused analyzers"
- [ ] Unused private method
- [ ] Unused private property
- [ ] Unused use statement

[2016-09-24 14:05] ddmler opened #145 "[Analyzer] avoid multiple unary operators"
Example:
[code]
could be mistaken with:
[code]

also check for:
[code]

probably register for unaryMinus, boolean not and others and check if expr is another of the same type.
maybe also add this case:
[code]

Expression analyzer register to: Expr\UnaryMinus, Expr\UnaryPlus, Expr\BitwiseNot, Expr\BooleanNot
For Hacktoberfest: This one is a bit more work than the others you should probably first tr

[2016-09-24 14:38] tomzx commented on #141
I'd also suggest setting up a https://readthedocs.org/ for it. If you create a `docs` folder for it, it should automatically work out of the box without doing any configuration.

[2016-09-24 14:44] tomzx commented on #103
If it's not already done, make sure you respect the rules specified by https://wiki.php.net/rfc/remove_php4_constructors, namely that it is legal to have a function with the same name as the class if there's a `__construct` defined.

[2016-09-24 14:47] tomzx commented on #16
What would you want that https://github.com/Seldaek/monolog cannot already provide?

[2016-09-24 14:47] tomzx commented on #20
Still relevant? Dumper of what?

[2016-09-24 14:48] tomzx commented on #21
How would branch prediction work exactly? Normally, that would be done through the accumulation of execution data.

[2016-09-24 14:49] tomzx commented on #19
Is this basically about implementing a control flow graph?

[2016-09-24 15:25] ddmler commented on #103
I think this would be a bit too much. If something has the same methodname as it's classname it probably violates either classname conventions or methodname conventions. So I would rather notice it even if it is ok.

[2016-09-25 13:53] ddmler opened #147 "[Analyzer] Assignment in condition"
We will need to check the conditions of If_, Elseif_, While_, For_, Do_ and maybe switch cases:
[code]
Statement analyzer with multiple register.
For Hacktoberfest: This issue is a bit more work than the others. You should probably try another first and get familiar with the analyzer workflow here.

[2016-09-26 16:32] #143 closed

[2016-09-26 16:53] #127 closed

[2016-09-26 17:09] ddmler commented on #67
closed - it's already merged #86

[2016-09-26 17:09] #67 closed

[2016-09-26 17:10] #44 closed

[2016-09-26 17:17] ddmler commented on #102
closed - not really a bug, blame will be default off with PR from K-Phoen

[2016-09-26 17:17] #102 closed

[2016-09-26 17:20] #79 closed

[2016-09-27 06:23] nymo opened #148 "[Feature] Integration with Sublime Text 3"
A integration of this tool with Sublime Text 3 would be really nice and helpful. For example with the package Sublimelinter.

[2016-09-27 16:00] #125 closed

[2016-09-28 17:23] ddmler opened #152 "[CFG] CFG component"
- [ ] Loop which does not loop
- [ ] Ternary operator simplification
- [ ] Elvis operator can be used
- [ ] Not optimal if conditions
- [ ] Infinite loop
- [ ] Unreachable statement

[2016-09-28 17:25] ddmler opened #153 "[Analyzer] Undefined Callback, Undefined Namespace"
- [ ] Undefined Callback
- [ ] Undefined Namespace

[2016-09-29 15:10] #108 closed

[2016-09-30 06:40] Gixx opened #154 "False notices and warnings"
I'm using PHP5.6 and in many cases it gives false notices and warnings:

Can't see variables declared by language construct:

[code]

Can't see methods declared in trait:

[code]

Can't analyze multiline method arguments:

[code]

etc.

[2016-09-30 07:42] ddmler commented on #154
Thanks for creating this issue. :+1:
Did you use master branch when trying these checks? We merged better list support 2 days ago.
Traits are currently not yet supported. #76

- [ ] Bug: count variable usage up when using as argument

[2016-09-30 21:07] ddmler opened #155 "Refactor Expression class"
all methods called pass* should be refactored into a compiler class and if needed an analyzer class

[2016-10-03 15:48] #107 closed

[2016-10-04 11:29] ddmler opened #159 "[Analyzer] Don't use global"
It's bad practice to use global $a; or something like that.
So we need a statement analyzer for Global_ Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/DoNotUseGoto.php )
and register it to Stmt\Global_ and write a nice notice message

[2016-10-04 12:19] ddmler opened #160 "[Analyzer] Don't use Labels"
It's those labels for Goto:
[code]
So we need a statement analyzer for Label Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Change existing DoNotUseGoto (Goto Analyzer is here: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/DoNotUseGoto.php )
and register it to Stmt\Label and Stmt\Goto_ and write a nice notice message. Look at othe

[2016-10-04 12:22] ddmler opened #161 "[Analyzer] Don't use InlineHTML"
It's bad practice to use inline html.
So we need a statement analyzer for InlineHTML Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/DoNotUseGoto.php )
and register it to Stmt\InlineHTML and write a nice notice message.
2. Add it to P

[2016-10-04 12:28] ddmler opened #162 "[Analyzer] Don't use exit"
It's bad practice to use exit; die(); or something like that. (makes code untestable)
So we need an expression analyzer for Exit_ Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer name: ExitUsage (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/ErrorSuppression.php )
and register it

[2016-10-04 12:32] ddmler opened #163 "[Analyzer] Don't use Backtick Operator"
It's bad practice to use the backtick operator for shell execution.
So we need an expression analyzer for ShellExec Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/ErrorSuppression.php )
and register it to Expr\ShellExec and write a

[2016-10-04 12:33] ovr opened #164 "[Analyzer] Dont use static:: in final class"
Hey!

It's a probably easy task, so it's good for someone who is new to the project.

[code]

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/ErrorSuppression.php )
and register it to `Expr\StaticCall` and write a nice notice message.

How to find:
- Catch that left side of `$expr` is `static`
- Get `$conte

[2016-10-04 12:48] ddmler opened #165 "[Analyzer] One Property definition per line"
It notices on: `public $a, $b=1;` or something like that.
So we need a statement analyzer for Property Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/DoNotUseGoto.php )
and register it to Stmt\Property. Now:
Check that `$stmt->props`

[2016-10-04 13:14] ddmler opened #166 "[Analyzer] Property definition default value"
It notices on: `public $a = null;` since null is the default value and therefore not needed here.
So we need a statement analyzer for PropertyProperty Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/GotoUsage.php )
and register it to

[2016-10-04 13:37] ddmler opened #167 "[Easy] Rename Methods"
So our testsuite has some dataProviders. All their names start with test and therefore get executed by phpunit but we don't need that.
Task: Rename all data providers to a good name that doesn't start with test. (don't forget to change the docblock of the tests they are used from)
You can check which of them need that by running in the project root:
`./vendor/bin/phpunit -v --report-useless-tests`

[2016-10-04 13:40] DailyMatters commented on #167
@ddmler Can I get this?

[2016-10-04 13:42] ddmler commented on #167
@DailyMatters sure.

[2016-10-04 13:45] DailyMatters commented on #167
Great, thank you, will tackle this as soon as I get home.

[2016-10-04 13:45] nikhilsaldanha commented on #161
I think I'll give this a shot

[2016-10-04 14:48] barroca commented on #165
I will take it.

[2016-10-04 15:09] dsalcedo commented on #164
interesting 👍

[2016-10-04 15:13] ddmler opened #168 "[Tests] Add Definition Tests"
We need tests for the definition directory. Currently we only have some for ClassDefinition and RuntimeClassDefinition but those are not complete too.

You don't have to do all, write here which of them you want to add.

[2016-10-04 15:20] ddmler opened #169 "[Tests] Add Compiler Expression Tests"
- [ ] Closure
- [ ] MethodCall
- [ ] StaticCall
- [ ] FunctionCall
- [ ] Operators\InstanceOfOp
- [ ] Operators\NewOp

Are completely missing. Some others are not completely covered.

[2016-10-04 15:27] ddmler opened #170 "[Tests] Add missing core Tests"
src directory:
- [ ] AliasManager
- [ ] Application
- [ ] Compiler
- [ ] Variable
- [ ] ScopePointer
- [ ] IssuesCollector

are completely missing. Context needs some more tests.
(Configuration but this is changed a lot in a PR so we will wait for merge there)

[2016-10-04 15:49] ddmler commented on #161
closed - merged with PR 171

[2016-10-04 15:49] #161 closed

[2016-10-04 16:11] ovr opened #172 "Implement PHPSA integration with CodeClimate"
Example projects
https://github.com/codeclimate/codeclimate-phpcodesniffer
https://github.com/codeclimate/cc-php-test-reporter-sandbox

@todo need more info

[2016-10-04 18:29] DannyvdSluijs commented on #170
Will look into this :-)

[2016-10-04 18:47] DailyMatters commented on #167
@ddmler
I was thinking renaming the files by changing the 'test' part to 'dp_'. So 'testConcatResultStringDataProvider' would be 'dp_concatResultString'. What do you think? Is it clear enough?

[2016-10-04 18:50] ddmler commented on #167
@DailyMatters would be better to rename it to something like "concatResultStringDataProvider" (because of naming conventions no _ ) Or in case of Concat it would be ok to "concatDataProvider" (since concats result is always string)

[2016-10-04 18:50] DailyMatters commented on #167
Got it, thanks!

[2016-10-04 19:01] DannyvdSluijs opened #173 "\ PHPSA\AliasManager::add and isClassImported aren't complementary to each other"
At https://github.com/ovr/phpsa/blob/master/src/AliasManager.php#L51 the namespace is added to the aliases array using numerical indexes, where is the isClassImported checks for the namespace to be available as a key.

This was discovered during writing the UT mentioned in #170 .

[2016-10-04 19:13] ddmler commented on #173
We should change isClassImported to use numerical indexes then. :+1:

[2016-10-04 19:15] DannyvdSluijs commented on #173
Will create a fix today or tomorrow

Sent from my iPhone

[2016-10-04 19:29] #173 closed

[2016-10-04 19:36] barroca commented on #165
Please verify on PR https://github.com/ovr/phpsa/pull/177

[2016-10-04 19:47] #167 closed

[2016-10-04 20:14] #165 closed

[2016-10-05 03:41] nikhilsaldanha commented on #160
Can I give this a try?

[2016-10-05 03:43] ovr commented on #160
@nikhilsaldanha
Seems to be, you can try to implement this

[2016-10-05 06:12] ovr opened #180 "[Feature] Integration with Atom"
Example plugin
https://github.com/pfefferle/atom-php-cs-fixer

[2016-10-05 06:13] ovr opened #181 "[Feature] Support Cache for AST nodes and Definitions"
Seems very epic task :)

[2016-10-05 07:31] DannyvdSluijs opened #182 "ScopePointer ::__construct and ::getObject not aligning"
When doing the UT for #170 I cam across the ScopePointer which takes in any parameter into the constructor (string, int, object etc.) And based on the `@return` tag for the getObject it should return ClassMethod or FunctionDefinition

https://github.com/ovr/phpsa/blob/master/src/ScopePointer.php#L23
https://github.com/ovr/phpsa/blob/master/src/ScopePointer.php#L51

I guess some type of type checki

[2016-10-05 07:42] ovr commented on #182
Seems We are having 2 ways how to improve this

1.
So I suggest to build a new Interface called like `ScopePointerInterface`
Implement `ClassMethod, FunctionDefinition` with `ScopePointerInterface`

Add `ScopePointerInterface` strict
https://github.com/ovr/phpsa/blob/master/src/ScopePointer.php#L23

2. Check in `__construct`
- is null
- is object
- is method

If not, lets throw an `InvalidArgument

[2016-10-05 13:09] yyaremenko commented on #168
taking ClassDefinition tests

[2016-10-05 13:13] chasingSublimity commented on #141
I'm happy to check spelling and grammar. Let me know if you have any specific areas in mind!

[2016-10-05 13:29] K-Phoen commented on #141
I guess that the [contributing guide](https://github.com/ovr/phpsa/blob/master/.github/CONTRIBUTING.md), the [PR template](https://github.com/ovr/phpsa/blob/master/.github/PULL_REQUEST_TEMPLATE.md) and [the documentation](https://github.com/ovr/phpsa/tree/master/docs) could benefit from this kind of check :)

[2016-10-05 15:08] ovr opened #185 "[Analyzer] Return and Yield in one Method"
So we need a statement analyzer for ClassMethod Node.
It's easy, so it's good for someone who is new to the project.

Referenced snippet

[code]

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/DoNotUseGoto.php )
and register it to Stmt\ClassMethod
https://github.com/ovr/phpsa/pull/186 review this PR fist, i

[2016-10-05 15:30] yyaremenko commented on #168
hey @ddmler I've found some misprint in your test-related code - 'defiNTion' instead of 'defiNITion', so I'm fixing that as well

[2016-10-05 16:25] ddmler commented on #141
And the Contributing guide is a bit of a mess. So if someone wants to reorganize this and make it pretty, that would be great too :smile:

[2016-10-05 16:28] ddmler commented on #160
closed - got merged with PR from @nikhilsaldanha

[2016-10-05 16:28] #160 closed

[2016-10-05 16:30] chasingSublimity commented on #141
Awesome. I'm working on the Contributing guide now!

[2016-10-05 16:48] chasingSublimity commented on #141
See [#187](https://github.com/ovr/phpsa/pull/187).

The biggest edit I made was adjusting the mood of your unordered lists from declarative ("we use ...") to imperative ("use xyz..."). If this does not adequately communicate your original intention, I'm happy to correct.

If the PR is satisfactory, I'll be happy to look at your PR template and Documentation as well.

[2016-10-05 17:27] ddmler commented on #141
Thanks. If you want you can also check Readme and analyzer notice messages. In Readme "How to use" you see how the notice messages currently look like (examples).
For example some analyzers end their notice text with a dot but the sentence continues:
`You are trying to cast 'string' to 'string'. in fixtures/`

[2016-10-05 17:56] chasingSublimity commented on #141
On it!

[2016-10-06 05:58] nikhilsaldanha commented on #147
@ddmler I've added this feature for all statements except For_

I'm not sure how to do this for For_ statements since they normally involve assignments. Can I get a clarification on that?

[2016-10-06 10:28] ddmler opened #192 "[Docs] Contributing Guide writing tests"
@ovr check #183
we need a section in contributing guide with rules for writing tests. (usage of @covers?, parent::, ...)

[2016-10-06 10:53] ddmler commented on #164
closed - got merged with 184

[2016-10-06 10:53] #164 closed

[2016-10-06 11:44] yyaremenko commented on #168
@ddmler please consider updating phpunit to 5.*, as current "^4.8.26" version is way too out of date

[2016-10-06 11:49] ddmler commented on #168
@yyaremenko 4.8 was a long term support version i think. the support ends february 2017.
if you want make a PR that updates it, i don't know if we use any BC breaking stuff here.

[2016-10-06 11:50] ovr commented on #168
@yyaremenko @ddmler
Dont forget that We support `"php": ">=5.5"`

[2016-10-06 12:00] yyaremenko commented on #168
@ddmler @ovr
guys looks I've found a serious bug in the code while writing tests:

PHPSA\Definition\ClassDefinition
constructor allows $statement to be of null type;
in the other hand,
complie() line 145 creates Event\StatementBeforeCompile instance
which, in turn, does not allow null $statement

please advice - should I update the code and disallow null in constructor or should I do it some other

[2016-10-06 12:01] ddmler commented on #147
closed - merged with 191

[2016-10-06 12:01] #147 closed

[2016-10-06 13:44] nikhilsaldanha commented on #147
@ddmler I forgot to handle for statements. That is handled by the PR that I just submitted.

[2016-10-06 14:56] yyaremenko commented on #168
guys, please reply ASAP, I am blocked (can not proceed with writing tests)

[2016-10-06 15:00] ddmler commented on #168
remove null for statement, we always give one. :+1:

[2016-10-06 15:01] yyaremenko commented on #168
@ddmler okay thanx

[2016-10-07 11:14] ddmler commented on #141
@chasingSublimity I just added more documentation pages. If you want you can check these. :grin:

[2016-10-07 13:35] ddmler opened #203 "[Compiler] Assign Compiler can't work with properties"
[DEBUG] Unknown how to pass symbol
for assigning properties on this line for example:
https://github.com/ovr/phpsa/blob/master/src/AliasManager.php#L26

need to add this to Expression\Assign compiler (when PR #196 is merged)

[2016-10-07 13:39] ddmler opened #204 "[Analyzer] Stupid unary operator"
UnaryPlus + positive number

[code]

think about: maybe change multiple unary analyzer to be a stupid unary analyzer and put both together or make a new analyzer.

[2016-10-07 13:40] #155 closed

[2016-10-07 13:41] #45 closed

[2016-10-07 13:42] ovr commented on #45
Implemented by @ddmler in https://github.com/ovr/phpsa/pull/198

[2016-10-07 13:45] ddmler opened #205 "[Compiler] Unknown methodCall"
[DEBUG] [Unknown] @todo MethodCall
for example here:
https://github.com/ovr/phpsa/blob/master/src/Analyzer.php#L50

and here (context is not recognized?):
https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/ArrayDuplicateKeys.php#L28

[2016-10-07 13:46] ovr commented on #204
I suggest to split this, it's a yet another Analyzer

[2016-10-07 13:51] ddmler opened #206 "[Compiler] Unknown const fetch"
[DEBUG] Unknown const fetch
here:
https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/Casts.php#L20

maybe it has something to do with missing namespace support.

[2016-10-07 14:14] ddmler commented on #163
closed - was merged in #207

[2016-10-07 14:14] #163 closed

[2016-10-07 14:47] #145 closed

[2016-10-07 15:02] ovr commented on #172
Started to work on this

[2016-10-08 02:41] #121 closed

[2016-10-08 02:41] ovr commented on #121
Implemented by @ddmler, in https://github.com/ovr/phpsa/pull/209

[2016-10-08 10:38] ddmler commented on #106
closed - was fixed with 196

[2016-10-08 10:38] #106 closed

[2016-10-08 11:54] ddmler opened #212 "[Bug] Fileparser creates multiple functions from 1 ast"
@ovr
When parsing:

[code]

this creates 1 classdefinition & 2 functiondefinitions
all analyzers get called on both functiondefinitions so we get 2 times the message no docblock found for function b.

The problem is here:
https://github.com/ovr/phpsa/blob/a7bf656771a50eaaf3e299bd407fe0745178e408/src/Definition/FileParser.php#L89

by passing the complete astTree we pass 2 times the same function fo

[2016-10-08 12:33] ovr commented on #212
Thanks, I will take a look

[2016-10-08 16:17] micheleorselli commented on #159
Hi @ddmler, may I take care of that?

[2016-10-08 16:28] ddmler commented on #159
@micheleorselli sure

[2016-10-08 18:24] ddmler commented on #159
closed - merged with #213

[2016-10-08 18:24] #159 closed

[2016-10-09 09:31] sergeyklay opened #214 "New release"
Hello,

Current milestone is outdated

![phpsa](https://cloud.githubusercontent.com/assets/1256298/19219451/3058fcb0-8e1c-11e6-863c-9b653f8efe6a.png)

How about new release (stable, tagged version)?

[2016-10-09 09:41] ddmler commented on #214
Would be great if we get configuration, interface compile (both PR from K-Phoen) merged for that.
Also the missing namespace support is a very important thing that's still missing (we get a million debug lines for that in travis)

[2016-10-09 12:21] ddmler opened #215 "[Analyzer] Static variable usage"
It's bad practice to use static $a; or something like that.
(This is not class static but variable static, see: http://php.net/manual/en/language.variables.scope.php )
So we need a statement analyzer for Static_ Node.
It's very easy, so it's good for someone who is new to the project.

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/sr

[2016-10-09 15:31] dmaicher commented on #215
I will look into this and prepare a PR :blush:

[2016-10-09 15:53] dmaicher commented on #215
Here is the PR :wink: https://github.com/ovr/phpsa/pull/216

[2016-10-09 17:13] sergeyklay commented on #214
I suggest at least actualize the milestone.
The same in projects:
![phpsa-1](https://cloud.githubusercontent.com/assets/1256298/19222254/e093e794-8e5c-11e6-930e-be41036b44e6.png)

[2016-10-09 17:31] ddmler commented on #215
closed - merged in 216

[2016-10-09 17:31] #215 closed

[2016-10-09 17:52] ddmler commented on #40
closed - it seems this is duplicate to #152

[2016-10-09 17:52] #40 closed

[2016-10-09 21:11] ddmler opened #217 "[Analyzer] Optional parameter before required one"
Simple Task: We need an analyzer for this:
[code]

How To:
1. Statement Analyzer: register to Function_ and ClassMethod, both have a property called param which contains an array of Param objects. Check if their default property is null, if yes it's a required parameter.
Write a nice notice message for it.
2. Add it to PHPSA\Analyzer\Factory (registerStatementPass)
3. Write test (analyze-fixtures

[2016-10-09 21:28] ddmler opened #218 "[Analyzer] Fixed condition"
Simple Task: We need an analyzer for this:
[code]

How To:
1. Statement Analyzer: register to the same as AssignmentInCondition analyzer.
Use `$context->getExpressionCompiler()->compile($stmt->cond);` to compile the condition down to value. Also check that if getType() is unknown we don't notice anything.
Write a nice notice message for it.
2. Add it to PHPSA\Analyzer\Factory (registerStatementPas

[2016-10-10 08:05] #218 closed

[2016-10-10 08:12] #217 closed

[2016-10-10 08:20] ddmler opened #221 "[Analyzer] Avoid octal, hexadecimal, binary"
First we need to create a possibility to register an analyzer to Node\Scalar
Then create an analyzer for Node\Scalar\LNumber
and check the KIND constants.
Example:
`$a = 0x12;`

[2016-10-10 08:30] ddmler opened #222 "[Analyzer] Logic Inversion"
Simple Task: We need an expression analyzer for BooleanNot_ Node.
We want to check for this:
[code]

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/ErrorSuppression.php )
and register it to Expr\BooleanNot_. Now check that the expr property is an instanceof one of the operators listed above. You can find a

[2016-10-10 08:43] ddmler opened #223 "[Command] New Compiler Command"
I was thinking the Compiler is pretty useful in itself. So how about we add a new Command "compile" that only runs the compiler (no analyzer) and therefore only reports syntax and language level errors?
The "check" command would be unaffected and run compiler and all analyzers.

What do you guys think?

[2016-10-10 10:53] ddmler opened #224 "[Compiler] Check operator supported types"
We need to check all Expression Compilers for supported types and add those that are missing.
In PR #208 I have done that for: BinaryOp, Casts, Operators\Logical, Operators\Comparison (those that support all types)

So we still need to check:
- [ ] Expression directory
- [ ] AssignOp
- [ ] Operators directory
- [ ] Operators\Arithmetical
- [ ] Operators\Bitwise

Basically what you have to check is

[2016-10-10 11:03] ddmler opened #225 "[Compiler] Create ErrorInterface"
ErrorInterface
and 2 classes
SyntaxError implement ErrorInterface
LanguageError implement ErrorInterface

We need that to support SyntaxErrors (already have that) and Language level errors (missing for example:
`break "string";` creates a language level error)

[2016-10-10 12:02] ddmler opened #227 "[Analyzer] Avoid yoda conditions"
Simple Task: Statement Analyzer for conditions, detects:
[code]

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/AssignmentInCondition.php )
and register it to the same things. Now:
Check that $condition instanceof Expr\BinaryOp\ {Equal, NotEqual, Identical, NotIdentical}

If yes check that:
$condition->left

[2016-10-10 12:34] #222 closed

[2016-10-10 14:20] ddmler commented on #162
closed - merged with 228

[2016-10-10 14:20] #162 closed

[2016-10-10 16:49] ddmler commented on #227
closed - merged in 230

[2016-10-10 16:49] #227 closed

[2016-10-11 04:06] ovr commented on #214
PHP still in alpha version, after review/merge Configuration will make a tag, 0.6.0

[2016-10-11 04:07] ovr commented on #223
I think, this will be rly cool 👍
Pretty simple code will work as expected/actual on PHP!

[2016-10-11 07:38] nikhilsaldanha commented on #221
I would like to try this out

[2016-10-11 07:59] ddmler commented on #221
@nikhilsaldanha it's not yet possible to register an analyzer to Node\Scalar you would have to add this too.

[2016-10-11 08:16] ddmler opened #233 "[Analyzer] For multiple conditions"
Simple Task: Statement Analyzer for For_ Node.
It should notice on:
[code]

How to do it:
1. Create Analyzer (you can use this one as a template: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Statement/GotoUsage.php )
and register it to Stmt\For_. Now:
Check that `count($stmt->cond) > 1`

If yes write a nice notice message (that you should merge the conditions into one with `&&`), els

[2016-10-11 08:52] nikolaykovenko commented on #233
Hello, @ddmler. The task is very good analyzed and described, so I think it's a good starting point for my first pool request. So, if you don't mind, I can't implement this feature.

[2016-10-11 08:55] ddmler commented on #233
@nikolaykovenko Would be awesome. I added another step to the issue, if you can do that too. (it's a hidden file if you don't see it in project directory) Ask if you need any help.

[2016-10-11 08:58] nikolaykovenko commented on #233
Ok, great, thanks. So I start working, and I'll ask you if I need some help.

[2016-10-11 09:04] ddmler commented on #123
closed - implemented with 139

[2016-10-11 09:04] #123 closed

[2016-10-11 09:04] ddmler commented on #39
closed - implemented with 139

[2016-10-11 09:04] #39 closed

[2016-10-11 09:09] ddmler opened #234 "[Config] improve Config"
- [ ] disabling/enabling notices by levels like CHECK_SAFE/CHECK_BETA/…
- [ ] improving documentation regarding analyzers configuration
- [ ] improving notices generated by analyzers to include a better description and a link to a page (in the wiki probably)
- [ ] check minimum php version for analyzers (for example shortarray needs 5.4 or something)

[2016-10-11 09:13] #204 closed

[2016-10-11 10:59] Lexty commented on #182
As we can see [AbstractDefinition::getPointer](https://github.com/ovr/phpsa/blob/master/src/Definition/AbstractDefinition.php#L44), property `ScopePointer::$object` can be one of the following: [ClassMethod](https://github.com/ovr/phpsa/blob/master/src/Definition/ClassMethod.php#L15), [ClosureDefinition](https://github.com/ovr/phpsa/issues/224), [FunctionDefinition](https://github.com/ovr/phpsa/bl

[2016-10-11 16:35] ddmler opened #236 "[Compiler] Closure compile never called"
The compile method for ClosureDefinition is never called (only precompile). Therefore the message that the closure body is empty is never shown. (But when calling compile right now the tests will break because of scope/scopePointer being null somewhere)

By the way, the missing body analyzer is for statements, but closure is an expression. So i guess we'll have to add another analyzer then.

[2016-10-12 11:17] ddmler commented on #234
minimum php versions still needed:
ArgumentUnpacking: 5.6
Deprecated Function /INI: multiple different versions in the code. (split those up into multiple analyzers?? if yes create new directory for deprecated analyzers))

[2016-10-12 11:24] ddmler commented on #76
- [ ] Trait properties support
- [ ] Traits using Traits support
- [ ] use instead of syntax support
- [ ] changing visibility when using support

[2016-10-12 11:44] ddmler opened #239 "[Tests] Doubled test"
So it seems we have 2 tests for ArrayShortDefinition:
https://github.com/ovr/phpsa/blob/master/tests/analyze-fixtures/Expression/ArrayShortDefinition.php
and
https://github.com/ovr/phpsa/blob/master/tests/PHPSA/Analyzer/Pass/Expression/ArrayShortDefinitionTest.php

I would suggest we remove the second one or does that test have any meaning?

[2016-10-12 12:49] ddmler opened #241 "[Command] Create analyzer doc command"
We have a command "dump-reference" which dumps the default configuration.
I would suggest we rename this to dump-config and create a new one dump-docs or something like that, which dumps docs/05_Analyzers.md

It should just get every analyzer description (maybe sort them alphabetically) and dump them the same way the documentation file is structured right now. Maybe if an analyzer has a minimum ph

[2016-10-12 13:15] ddmler commented on #172
- [ ] Documentation how to use it with codeclimate

[2016-10-12 13:23] deepvyas commented on #166
@ddmler how do we register the analyzer and test.

I always get the **Failed asserting that an array contains Array &0** error when i do a **make ci**

[2016-10-12 13:36] ddmler commented on #166
@deepvyas sorry it's a bug. PropertyProperty can't be registered yet. I'll fix that

[2016-10-12 13:39] deepvyas commented on #166
@ddmler  I get the same issue while registering For_ as well. Is there a specific way to register the analyzer or just adding it to array returned by **getStatementPasses** function in PHPSA\Analyzer\Factory.php does the job.

[2016-10-12 13:41] ddmler commented on #166
@deepvyas
Create your PR, I will look what's missing then.
Basically to register it you have to add the line For_::class to getRegister() method and in the Factory your analyzer class to getStatementPasses.

[2016-10-12 13:55] ddmler opened #244 "[Bug] Trait & unused variable"
`Warning:  Unused variable $fqcnParts in method getMetadata() in ./src/Analyzer/Pass/Statement/ConstantNaming.php  [unused-variable]`
`Warning:  Unused variable $name in method getMetadata() in ./src/Analyzer/Pass/Statement/ConstantNaming.php  [unused-variable]`
`Warning:  Unused variable $description in method getMetadata() in ./src/Analyzer/Pass/Statement/ConstantNaming.php  [unused-variable]`

[2016-10-12 14:02] ovr commented on #244
This is caused because Trait method is merged into this Class
but anyway We cannot compile method in Trait because Trait's method can use another Class where it's used, recursion oops

Another moment `$fqcnParts` is not used because `FunctionCall` to `end`, didnt mark this argument is used, I am worry about FunctionCall, can you take a look?

[2016-10-12 14:07] ddmler opened #246 "[Bug] Missing Docblock for empty line?"
`Notice:  Missing Docblock in ./src/Analyzer/Pass/Statement/ConstantNaming.php on 10 [missing_docblock]`
(shows empty code line)
Line 10 is an empty line before class definition.

Same analyzer works for other things like Class Const line 15 is really the class const.

for AssignmentInCondition it even notices on use statement:
`use PhpParser\Node\Stmt\Do_;`

What is this analyzer doing :sweat_smi

[2016-10-12 15:59] ddmler commented on #182
https://github.com/Lexty/phpsa/blob/182-scope-pointer-strict-type/src/ScopePointer.php

ping @ovr @K-Phoen

[2016-10-12 16:07] ddmler opened #248 "[Bug] Trait static methods"
`Notice:  Static method defaultMetadata() does not exist in self scope in ./src/Analyzer/Pass/Expression/ArrayShortDefinition.php on 56 [undefined-scall]`

So something is not right with trait static methods or the self scope existence check.

[2016-10-12 16:12] ddmler opened #249 "[Bug] FuncCall should not be 0"
`Notice:  You are trying to divide from 0: /{expr} in ./src/Command/CheckCommand.php on 177 [division-zero]`
`return round(memory_get_usage($type) / 1024 / 1024, 2);`

The function call should not be treated the same as 0 and therefore we should get no notice here.

[2016-10-12 16:37] ddmler commented on #248
I just figured out that this was a trait adaptation with rename. So that's what is missing here.

[2016-10-13 08:24] ddmler commented on #233
closed - merged in 243

[2016-10-13 08:24] #233 closed

[2016-10-13 15:02] ddmler commented on #166
closed - merged with 247

[2016-10-13 15:02] #166 closed

[2016-10-13 16:57] ddmler commented on #221
closed - merged with 251

[2016-10-13 16:57] #221 closed

[2016-10-13 17:15] #239 closed

[2016-10-13 18:45] ddmler opened #255 "[Analyzer] unnecessary fully qualified name"

[2016-10-14 12:09] ddmler commented on #246
When running `bin/phpsa check -vvv src/Analyzer/Pass/Statement/ConstantNaming.php`
everything works correctly. (shows the class line is missing a docblock)
But when running: `bin/phpsa check -vvv src/`
the analyzer notices the correct number of times but shows wrong line numbers and the wrong code lines.
(shows an empty line is missing a docblock instead of the class line)

[2016-10-14 12:27] ovr commented on #248
This is caused becase

https://github.com/ovr/phpsa/blob/9dffcdc59c58f32f0577dd50c07c71bb91053362/src/Analyzer/Pass/Expression/ArrayShortDefinition.php#L16

Supported:
[code]

Unsupported:
[code]

[2016-10-14 18:58] #214 closed

[2016-10-14 18:58] sergeyklay commented on #214
Thanks

[2016-10-16 16:22] K-Phoen commented on #152
This could be useful: https://github.com/ircmaxell/php-cfg

[2016-10-17 16:28] ovr commented on #172
- [ ] Reduce CodeClimate Image...

[2016-11-04 17:25] ddmler commented on #246
closed - got fixed somewhere it seems?

[2016-11-04 17:25] #246 closed

[2016-11-04 17:27] ddmler commented on #185
closed - merged with 263

[2016-11-04 17:27] #185 closed

[2016-11-04 17:29] ddmler commented on #154
closed - they were all fixed some time ago

[2016-11-04 17:29] #154 closed

[2016-11-12 11:02] #205 closed

[2016-11-14 14:37] ovr commented on #241
Looks like implemented by @ddmler :) going to close it

[2016-11-14 14:37] #241 closed

[2016-11-17 10:43] #223 closed

[2016-11-17 14:45] ddmler opened #267 "[Analyzer] Nested Ternary"
Check for something like this:
[code]

and notice:
`Nested ternary operators can be confusing. Use if/elseif instead.`

[2016-11-20 17:53] #267 closed

[2016-11-20 17:54] ovr commented on #267
Implemented by @ddmler in https://github.com/ovr/phpsa/pull/275/commits/8fc0ecf963cab86a1e1b598c50fbfb88aadd87c9

[2016-11-21 23:38] ddmler commented on #141
done

[2016-11-21 23:38] #141 closed

[2016-11-24 13:47] hipio opened #276 "[Config][Question] No option for ArrayDimFetch (array_dim_fetch_on_non_array)?"
It seems that I cannot enable or disable the `array_dim_fetch_on_non_array` future of this tool, is this correct? I tried disabling `array_illegal_offset_type` as that is the only class that contains a reference to ArrayDimFetch, but that didn't disable the analysis.

**Things I've tried to disable the analysis:**
- Add `array_dim_fetch` to the config
  - This resulted in an error (`  Unrecognized

[2016-11-24 14:42] ddmler commented on #276
Hi since PHP would create an Error/Warning/Notice message for those, we are moving those into the compiler. However the compiler issues can not be disabled at the moment (I will add this very soon)
Thanks for pointing it out.

[2016-11-24 14:46] hipio commented on #276
@ddmler Ah okay, thanks a lot for replying! Is this also the case for `mcall.static`? I tried to disable that as well to no avail, haha.

[2016-11-24 15:55] ddmler commented on #276
Yes everything that has no key in the config at the moment will be renamed to language_error and gets a new config setting in the next few days hopefully

[2016-11-24 17:45] ddmler commented on #276
@hipio PR is waiting for review. With it you can disable everything except syntax-error. You can clone the branch if you want to use it right now.

[2016-12-02 00:27] ovr commented on #276
@hipio Merged in `master` by https://github.com/ovr/phpsa/commit/c54facd476aee889252c9d1128c96e168750039a, implemented by @ddmler

[2016-12-02 08:13] hipio commented on #276
@ovr So we currently have one option that deals with everything, correct? Will this be changed in the future, as I do not want to disable all of the language checks, just a few of them because of false-positives. 😛

[2016-12-02 13:45] ddmler commented on #276
I would like to change those checks so when we have a type of unknown we don't notice anything.
Currently whenever something is type unknown it notices for example "can't fetch from non-array" or something like that. We should only notice if we are sure of it.

[2016-12-02 22:33] ddmler opened #278 "[Analyzer] Return Void"
return void notice needs to be moved from compiler: phpsa/src/Compiler/Statement/ReturnSt.php
into a new Statement analyzer. (it's not a language error)

[2016-12-03 14:26] ovr commented on #278
Agree with you @ddmler, can you provide a PR

[2016-12-06 05:37] ovr opened #279 "[Analyzer] Check duplicated variables in use"
[code]

[2016-12-06 10:02] Kilgaloon commented on #244
Unused variable happens for me in class, variable is initialized and passed as argument to method of a class, im getting noticed that it is unused but clearly it is.

[2016-12-07 05:03] ovr commented on #244
@Kilgaloon This is caused only for static method call, I am going to fix it

[2016-12-07 05:07] ovr commented on #244
@Kilgaloon

Fixed in `master` branch in https://github.com/ovr/phpsa/commit/9bcb42c7032c7f1d191273e82015da3de8ea96d7

Tested on

[code]

Can you try latest changes from `master` branch?

Thanks

[2016-12-07 06:03] #249 closed

[2016-12-07 06:03] ovr commented on #249
@ddmler Thanks for bug report 👍

[2016-12-07 13:23] Kilgaloon commented on #244
I can confirm that this is working now, but another problem is happening right now. It is related with unused variables, i will create new issue about this.

[2016-12-07 13:28] Kilgaloon opened #280 "[Bug] Unused variable when used in string literal as method argument"
So basically this:

    $name="John Doe";
    Class::method("Hello $name");

This throws warning that variable is unused, but clearly it is.

[2016-12-08 00:01] ovr commented on #280
This bug is caused because We didn't support template strings...

[2016-12-08 09:54] Kilgaloon commented on #280
It would be nice to have it then.

[2016-12-08 10:31] ovr commented on #280
@Kilgaloon looks like you case was fixed, can you try latest master changes?
Thanks

[2016-12-08 10:32] Kilgaloon commented on #280
Ye, you can close this issue

[2016-12-08 10:33] ovr commented on #280
@Kilgaloon Thank for bag reporting and testing 👍
Going to close this issue because fixed in https://github.com/ovr/phpsa/commit/795841bee687f086ae84ef0b35519514fa11790a

Thanks

[2016-12-08 10:33] #280 closed

[2016-12-15 14:58] ddmler opened #282 "[Compiler] PHP 7.1 support"
- [ ] NullableType Node
- [ ] void, iterable types (ovr\phpreflection)
- [ ] ClassConst visibility missing analyzer
- [ ] Catch check that Exceptions exist
- [ ] Expr\List_ Compiler

[2016-12-15 14:59] ddmler commented on #96
closed - new features are here: #282

[2016-12-15 14:59] #96 closed

[2016-12-15 18:28] ddmler commented on #225
closed - we have language_errors differently now.

[2016-12-15 18:28] #225 closed

[2016-12-24 10:59] ddmler commented on #236
closed - fixed in 5929e2d

[2016-12-24 10:59] #236 closed

[2016-12-28 08:15] ovr commented on #206
refs https://github.com/ovr/phpsa/commit/ea46d3e744ddb830e95b67138b1f0a4b33c43a9e

[2016-12-29 09:27] algo13 opened #288 "[Bug] StaticCall in Closure in namespace"
[code]

[code]

[$context->scope is null](https://github.com/ovr/phpsa/blob/df9e82e242173c5571fb224a39cb30a5be8a838f/src/Compiler/Expression/StaticCall.php#L37)

[2016-12-29 09:28] algo13 opened #289 "[Compiler] Type 'float' support(PHP7.0)"
[Type declarations](http://php.net/manual/en/functions.arguments.php#functions.arguments.type-declaration)

[code]

[code]

[2016-12-29 10:28] #289 closed

[2016-12-29 10:29] ovr commented on #289
@algo13 Thank for bug report, fixed in `master` branch!

[2016-12-29 10:36] ddmler commented on #288
#182 Lexty's comment is about the same problem I think.

[2016-12-29 10:36] ovr commented on #288
@ddmler Looks like, working on it

[2016-12-29 10:42] ovr commented on #288
@algo13 I think you can try with latest `master`, this commit https://github.com/ovr/phpsa/commit/b6226c6c90f91d43e6ec5ef6d761a0d9be6f9c89 should help to fix this bug

[2016-12-30 09:08] algo13 commented on #288
@ovr Thank you!
I did not interrupt with latest `master`.

But `PHP7 Warning` in `src/Definition/RuntimeClassDefinition.php` by [149c2d6](https://github.com/ovr/phpsa/commit/149c2d63ab1474319be299b3a0b5146c17ba7e75#diff-c32a147c1981a641a36ff258d752a187)

[code]

Thanks

[2016-12-30 09:10] algo13 opened #292 "[Bug] Apply BitwiseNot to null"
[code]

[code]

[value is null](https://github.com/ovr/phpsa/blob/c11045f9be963903f79dc2323737ec5a912f94f1/src/Compiler/Expression/Operators/Bitwise/BitwiseNot.php#L28)

[code]

[2016-12-30 13:35] ovr commented on #288
@algo13 Thanks for report, fixed!

[2016-12-30 13:49] #292 closed

[2016-12-30 13:50] ovr commented on #292
@algo13 Issue about BitwiseNot operator should be fixed, but I am going to review another operators, they can be not safety

[2017-01-02 14:23] algo13 commented on #288
@ovr Thanks for fixed!

[2017-01-02 14:23] #288 closed

[2017-01-02 14:32] algo13 opened #294 "use(impoert namespace) degradation."
-   `use`(impoert namespace) leaks.

    -   [src/Compiler/Expression/Assign.php(75)](https://github.com/ovr/phpsa/blob/30de074995aa16777f21267560467755e1038e3b/src/Compiler/Expression/Assign.php#L75): Class PHPSA\Compiler\Expression\ClassDefinition not found.(Maybe degrade by [f08c719](https://github.com/ovr/phpsa/commit/f08c71943107ff39b4e9abac55a839c12ff9987a))

    -   [src/Compiler/Expression

[2017-01-03 03:45] #294 closed

[2017-01-03 06:25] #278 closed

[2017-01-03 06:26] ovr commented on #278
Splitted, in `master` branch

[2017-01-05 16:56] algo13 opened #295 "[Bug] find .phpsa.yml path"
Is the `.phpsa.yml` path the check target route? Or cwd?

[code]

[2017-01-11 16:33] algo13 opened #298 "[Bug] False positive list(array.illegal_offset_type/undefined-variable/unused-variable)"
[code]

[2017-01-15 13:24] ovr commented on #298
Fixed this issue:

[code]

refs https://github.com/ovr/phpsa/commit/64a288175cf1a2fd0b0118939214ba1e46ebc4b6

[2017-01-15 13:32] ovr commented on #298
Fix isssue with the code above, by https://github.com/ovr/phpsa/commit/be446738b848b3539fb754d008a03b2c02d6b26c

[code]

[2017-01-15 13:42] ovr commented on #298
Fix issue for code

[code]

refs https://github.com/ovr/phpsa/commit/8bad52408943ec7f18bfe9fd0ffa1207c0a725f7

[2017-01-15 14:31] ovr commented on #298
Fix issue for code:

[code]

refs https://github.com/ovr/phpsa/commit/3200a40c23fc83c0741d5dbedbf8cfcae5b9b1fb

[2017-01-21 10:24] algo13 opened #299 "[Bug] Variable variables in Compiler\Expression\Variable"
[code]

[code]

[2017-01-21 18:37] ovr commented on #299
Hey @algo13
Can you try/review https://github.com/ovr/phpsa/pull/301? Thanks

[2017-01-21 19:38] ddmler commented on #276
closed - see #298 for false positive reduction work

[2017-01-21 19:38] #276 closed

[2017-01-21 19:39] ddmler commented on #192
ping @ovr

[2017-01-21 19:56] ddmler opened #302 "Remove git blame option"
I suggest we:
- remove the blame functionality completely (in CheckCommand and config file)
- or remove at least the blame command option (since you can specify it in the config file)

[2017-01-21 21:16] ddmler commented on #298
@ovr binaryop\coalesce has same error as isset had.

[2017-01-22 05:04] ovr commented on #192
Hey, I will write a small documentation with referenced examples

[2017-01-22 08:28] algo13 commented on #299
@ovr Thanks for fix.
In the following code, no error occurred!!

[code]

[2017-01-22 10:31] #299 closed

[2017-01-22 10:43] #212 closed

[2017-01-22 10:44] ovr commented on #212
@ddmler This issues should be fixed? Can you try again with latest `master` branch?
Thanks

[2017-01-22 11:36] ddmler commented on #212
Yes it's fixed :+1:  Thanks

[2017-01-23 20:28] #10 closed

[2017-01-23 20:32] #295 closed

[2017-01-23 20:35] ddmler opened #306 "Config file in commands"
<ul>
<li>Add display of &quot;used config file: {path}&quot;</li>
<li>Add config file option to CompileCommand</li>
</ul>

[2017-01-24 13:12] algo13 opened #307 "[Bug] False positive ArrayDimFetch for SplObjectStorage"
[ArrayDimFetch.php](https://github.com/ovr/phpsa/blob/9de304d74d0791b980d5b602bf703d35e480cd4e/src/Compiler/Expression/ArrayDimFetch.php#L26)

[code]

[2017-01-24 17:46] ovr commented on #298
@ddmler can you please provide a PR/fix for it?

Thanks

[2017-01-24 17:48] ovr commented on #234
@ddmler Looks like > check minimum php version for analyzers
is implemented now

I change from [ ] to [X] for it

[2017-01-24 17:56] ddmler commented on #234
@ovr yeah missing is deprecated function/ini analyzer with minimum php version.

[2017-01-24 19:29] ddmler commented on #307
when checking this code i also get:

Unimplemented PhpParser\Node\Stmt\Echo_

Notice:  Illegal array offset type object for key $o. in x on 9 [array.illegal_offset_type]
$obj[$o] = 1;

[2017-01-24 23:33] algo13 commented on #307
@ddmler Thanks for comment.

[array.illegal_offset_type] is false positive too.

https://3v4l.org/v5l8f
http://php.net/manual/class.splobjectstorage.php

[2017-01-25 12:00] algo13 opened #311 "[Bug] False positive ArrayDimFetch for property"
[code]

[2017-01-27 12:48] algo13 commented on #307
@ovr Thanks for [commit \(\[ControlFlowGraph\] Dont use echo, use debug from Context\)](https://github.com/ovr/phpsa/commit/f8b546ca38d78065aa5abfe21fe71d97374b3df3)

`echo 'Unimplemented'` ([ControlFlowGraph.php#L109](https://github.com/ovr/phpsa/blob/f8b546ca38d78065aa5abfe21fe71d97374b3df3/src/ControlFlow/ControlFlowGraph.php#L109))

overlook?

[2017-01-27 12:51] ovr commented on #307
Sure, I fixed this notice

[code]

Because CFG in initial state and it's not a good idea to write it without debug check

[2017-01-27 15:15] algo13 commented on #307
@ovr After your fixed, `echo` is left only [ControlFlowGraph.php#L109](https://github.com/ovr/phpsa/blob/f8b546ca38d78065aa5abfe21fe71d97374b3df3/src/ControlFlow/ControlFlowGraph.php#L109).

Is not it `$this->context->debug()` ? ;)

[2017-01-28 06:19] algo13 opened #313 "[Bug] False positive [undefined-variable] $this in closure that in closure"
Moved from #298

[code]

[2017-01-28 06:20] algo13 opened #314 "[Bug] False positive [undefined-variable] PassedByReference parameter"
Moved from #298

[code]

[2017-01-28 06:24] algo13 commented on #298
@ovr Thank you for many fixed !!
@ddmler This issue contained many issues.
To avoid confusion in the history, moved the remaining two issues.(#313, #314)

[2017-01-28 06:24] #298 closed

[2017-01-28 06:31] algo13 commented on #314
That's a difficult problem...

Although you can obtain a list of parameters passed by reference of built-in functions, it can not judge whether it is assignment(e.g. `preg_match`) or change(e.g. `each`).

[code]

e.g. (PHP7.1.1 on windows(Non-Extensions))

[code]

[2017-01-28 08:25] ovr commented on #313
It's a problem when closure inside closure

[2017-01-28 19:49] ovr commented on #306
Sure, this will be cool
btw, I think we needed an `AbstractCommand` for configuration, factory parser and etc

[2017-01-30 15:14] algo13 opened #318 "[Bug] False positive [language_error] Method in Trait does not exist"
[code]

... Maybe Mismatch between ["key of `Compiler::$traits`"](https://github.com/ovr/phpsa/blob/53ff8520f32f99f9423ccdf1b3e2835b49378258/src/Compiler.php#L47) and ["`Compiler::getTrait()` parameter"](https://github.com/ovr/phpsa/blob/53ff8520f32f99f9423ccdf1b3e2835b49378258/src/Compiler/DefinitionVisitor.php#L117).

[2017-01-30 17:45] ddmler opened #322 "[Bug] Unimplemented output in tests"
when running make tests we get "Unimplemented PhpParser\Node\Stmt\Echo_" as output in one of the tests.

[2017-01-31 12:06] #322 closed

[2017-01-31 12:06] ovr commented on #322
Thanks for bug report @ddmler, I miss the second `echo` inside `ControlFlowGraph` in https://github.com/ovr/phpsa/commit/f8b546ca38d78065aa5abfe21fe71d97374b3df3

[2017-01-31 12:34] ovr commented on #318
Should be fixed now

[2017-01-31 12:41] ovr commented on #302
I suggest to use
- remove at least the blame command option (since you can specify it in the config file)

Btw, blame will be moved to the Report system in the feature

[2017-01-31 16:14] algo13 commented on #318
@ovr Thanks for comment.

- It fails when there is no NS.([If there is no NS, `key of Compiler::$traits` becomes `\T`](https://github.com/ovr/phpsa/blob/63d2b1f5013cd779d70507ee0acbc53d8b46470f/src/Compiler.php#L47))
- If you want to acquire NS, you can get it with `$node->namespacedName->slice(0, -1)`.(Maybe unnecessary `\PHPSA\Compiler\NameResolveVisitor`)

Proposed amendment:

[code]

What do y

[2017-01-31 18:50] Kilgaloon opened #323 "[Bug"

[2017-02-01 07:36] ovr commented on #323
Hey! Can you submit related code for tests?
Thanks

[2017-02-05 03:10] algo13 commented on #323
@Kilgaloon
Autoload of [`lumen-framework/composer.json`](https://github.com/laravel/lumen-framework/blob/5.4/composer.json#L58) contains [`src/helpers.php`](https://github.com/laravel/lumen-framework/blob/5.4/src/helpers.php).
Is it an error indication of a function in this file?

- abort
- app
- base_path
- decrypt
- dispatch
- config
- database_path
- encrypt
- env
- event
- factory
- info
- red

[2017-02-08 12:23] #313 closed

[2017-02-08 12:23] ovr commented on #313
@algo13 Thanks for bug report, I think I fixed your reported issue in `master`

[2017-02-08 12:30] ovr commented on #318
Continue working on this problem...

[2017-02-23 17:57] #307 closed

[2017-02-23 17:58] ddmler commented on #311
fixed with f7ceade

[2017-02-23 17:58] #311 closed

[2017-03-19 18:07] ddmler opened #329 "[Analyzer] printf format string and parameters"
<p>Create an analyzer that checks printf/sprintf and similar function calls for: format string has same number of placeholders as parameters are passed into it. (And maybe that the types are correct)</p>

[2017-04-28 01:15] terra-yi opened #331 "[Bug] error in_array() expects parameter 2 to be array, null given"
Even when PHPSA\CompiledExpression instance returns true in ::isArray() method call, the variable itself could contain null instead of an array value. Hence it could produce PHP warning/error on line 38 when it calls in_array() on $var->getValue()

`PHP Warning:  in_array() expects parameter 2 to be array, null given in vendor/ovr/phpsa/src/Compiler/Expression/ArrayDimFetch.php on line 38`

Either

[2017-05-01 16:04] ovr commented on #331
Hey! Thank you for bad reporting, I will take a look tomorow

[2017-05-13 14:02] phaldan opened #332 "Upgrade nikic/php-parser to 3 for PHP 7.1 support"
Currently phpsa depends on version 2 of nikic/php-parser, which supports only PHP 5.2 to PHP 7.0.
For a proper PHP 7.1 support you should consider to upgrade to version 3 of nikic/php-parser.

[2017-05-14 11:35] ddmler commented on #332
Hi @phaldan we already use php-parser version 3 in the master branch. So the next release includes PHP 7.1 support.

Thanks

[2017-05-14 11:35] #332 closed

[2017-07-01 01:34] garrettw opened #334 "Technically valid PHP code causes fatal error"
If I have a class that contains something like this:
[code]
What happens is that the resulting `ClassDefinition` contains both properties, but only one property statement (named for only `$propTwo`, incidentally).

So far, this partly seems to make sense, but the problem comes in
`PHPSA\Compiler\Expression\StaticPropertyFetch::compile()` which has the following code:
[code]
With the code sample gi

[2017-07-02 09:56] ovr commented on #334
What version you are using?

I am trying to get error on snippets:

[code]

And this

[code]

Nothing...

[2017-07-02 17:56] garrettw commented on #334
I'm using the latest release, 0.6.2. As there has been almost 150 commits since then, maybe it's time for a new release.

[2017-08-04 16:24] #331 closed

[2017-08-04 16:25] ovr commented on #334
@garrettw I started to work on `phpsa`, possible will try to release ASAP after big changes!

[2017-11-02 10:01] Kilgaloon commented on #329
Maybe i can jump on this one. I will see what can i do in following days

[2017-11-05 11:56] Kilgaloon commented on #329
Currently analyzer checks is first argument string, is type format valid and length of type formats in string vs array of arguments passed for printf/sprintf and number of arguments passed for sprintf

[2017-11-06 11:12] Kilgaloon opened #342 "[Analyzer] var_dump leftovers"
It will be good to analyze var_dump leftovers in project, and to add support for other functions that cause same behavior.

[2017-11-06 15:34] ddmler commented on #342
Hi we have an analyzer that does this: https://github.com/ovr/phpsa/blob/master/src/Analyzer/Pass/Expression/FunctionCall/DebugCode.php
it currently checks for var_dump, var_export, debug_zval_dump. If you know more you can add them to the list.
Or did you mean something different?

[2017-11-06 15:36] Kilgaloon commented on #342
What about supporting dumps from another popular frameworks, like dd() in laravel?

[2017-11-06 15:47] ddmler commented on #342
Sure we can add those.

[2017-11-07 12:35] Kilgaloon commented on #323
Yes, those helpers aren't registered by phpsa and they are reported as function does not exists.

[2017-11-07 12:42] Kilgaloon commented on #279
Is this still open? Somebody were doing something on this one?

[2017-11-07 12:43] ovr commented on #279
@Kilgaloon As I known it's still open, can you check it? Thank!

[2017-11-07 12:46] Kilgaloon commented on #279
I will start working on this. Somebody can maybe take a look at PR related to #329

[2017-11-19 07:29] ovr commented on #279
I am going to close this issue becase it's implemented by @Kilgaloon

[2017-11-19 07:29] #279 closed

[2017-11-19 19:01] #329 closed

[2017-11-21 13:56] Kilgaloon commented on #255
You can assign this to me. I will take a look at it

[2017-11-21 19:36] Kilgaloon commented on #323
This is very irritating problem with any project that have this kind of global functions. Basically for lumen or laravel applications you get tons of notices. @ovr @ddmler Any thoughts about this?

[2017-11-21 20:01] ovr commented on #323
@Kilgaloon There is a precompile step, all functions inside projects are visible to any scope, I think it's an NS issue related latest changes like https://github.com/ovr/phpsa/commit/63d2b1f5013cd779d70507ee0acbc53d8b46470f

[2017-11-27 10:50] Kilgaloon opened #344 "[Feature] Ignore files and folders from .gitignore or files set in custom config"
I think we need to be able to set files and folder to be ignored, for example, we doesn't want to scan whole vendor folder.

[2017-11-27 12:56] Kilgaloon commented on #103
I see there is analyzer OldConstructor, why is this still a thing? Is there anything to be done on this subject?

[2017-11-27 12:57] ovr commented on #103
@Kilgaloon Nope, it's implemented by @ddmler in https://github.com/ovr/phpsa/pull/105
I am going to close

[2017-11-27 12:57] #103 closed

[2017-12-07 20:47] ddmler commented on #342
I added dd and dump (laravel, symfony) in this commit 69939ed
Not sure which frameworks are used so widely that it makes sense to add their debug function, but if you know some more feel free to add those, too @Kilgaloon

[2017-12-08 20:27] ddmler opened #346 "Update dependencies"
- [ ] Remove support for PHP version 5.6 (it seems we always support the last 3 php versions and so does php-parser)
- [ ] Update PHPUnit to version 6.x (needs php 7.0 and up)
- [ ] Update php-parser to version 4.x (currently alpha and needs php 7.0 and up)

[2017-12-10 03:24] #302 closed

[2017-12-10 03:24] #306 closed

[2017-12-11 08:26] Kilgaloon commented on #342
Also i think it will be good we can move this also to config, so people can setup those, sure we can insert there some defaults, but maybe we can give them option to more through config.

[2017-12-12 09:47] Kilgaloon commented on #346
PHP 5.6 is still widely used, are you sure we want to remove 5.6?

[2017-12-12 10:37] ddmler commented on #346
To be clear this is only the needed php version to run phpsa. You can still check 5.2-5.6 code with it.
And most people won't run phpsa on their production server. More likely in CI, so they could let phpsa run on a higher php version.

Also we probably wait at least until php-parser 4 is stable and not alpha. We need the newest version of this to support the newest php version. At the moment it l

[2018-01-20 06:42] ovr commented on #346
Thank @ddmler, cool idea:

Done:

 - [X] Remove support for PHP version 5.6 (it seems we always support the last 3 php versions and so does php-parser)
 - [X] Update PHPUnit to version 6.x (needs php 7.0 and up)

Let's wait for stable release, looks likes this will be in near time 😃

[2018-02-07 17:15] EvgenyOrekhov opened #347 "Unable to install due to an old version of phpdocumentor/reflection-docblock"
When I try to install PHPSA with `composer require --dev ovr/phpsa:dev-master` I get the following output:

[code]

phpdocumentor/reflection-docblock should be updated to v4.0.0.

[2018-02-08 08:32] #347 closed

[2018-02-08 09:37] EvgenyOrekhov opened #348 "Unable to install due to an old version of symfony/config"
When I try to install PHPSA with `composer require --dev ovr/phpsa:dev-master` I get the following output:

[code]

symfony/config should be updated to v4.0.4.

[2018-02-08 17:12] EvgenyOrekhov commented on #346
I tried to fix #348 with #349 but it does not work on PHP <7.1.3.

[2018-02-09 09:58] EvgenyOrekhov commented on #346
I managed to fix #348 without breaking compatibility with PHP 7.0.

[2018-02-09 16:28] #348 closed

[2018-02-09 16:37] EvgenyOrekhov opened #350 "Unable to install due to an old version of symfony/console"
When I try to install PHPSA with `composer require --dev ovr/phpsa:dev-master` I get the following output:

[code]

symfony/console should be updated to v4.0.4.

[2018-02-09 16:44] EvgenyOrekhov commented on #350
I rewieved https://github.com/symfony/console/blob/master/CHANGELOG.md#400 and I didn't find any usages of the removed features in PHPSA.

And as with symfony/config, symfony/console doesn't support PHP 7.0: https://github.com/symfony/console/blob/4de97e8d0ff6d4822f0b4d1486b63edf9028eac8/composer.json#L19

I think the same change as in https://github.com/ovr/phpsa/commit/15cae55a4b84105ee252f84722

[2018-02-09 16:59] EvgenyOrekhov commented on #350
This issue should be closed if #352 is merged.

[2018-02-09 17:05] #350 closed

[2018-02-09 17:14] EvgenyOrekhov opened #353 "Fatal error: Uncaught TypeError"
When I run `vendor/bin/phpsa check` I get the following error:

[code]

I don't have a .phpsa.yml in my project. Do I need one? Should PHPSA work without a .phpsa.yml?

[2018-02-09 18:29] EvgenyOrekhov commented on #353
PHPSA version: e2d3e118d289e5ab66dab23cb2af0cd1cc2e9e09
PHP version: 7.2.2
symfony/* packages version: 4.0.4

[2018-02-10 18:06] ddmler commented on #353
You do need a .phpsa.yml file. If you don't have one yourself it should use the one in the root project directory. Did you delete that one or is it broken?

[2018-02-10 22:22] EvgenyOrekhov commented on #353
@ddmler This is how I got fatal error:

1. `composer require --dev ovr/phpsa:dev-master`
2. `vendor/bin/phpsa check`

What did I do wrong?

[2018-02-11 21:46] ddmler commented on #353
I tried your steps, it's a bug in finding the location of the config file here:
https://github.com/ovr/phpsa/blob/master/src/Command/AbstractCommand.php#L38
both supplied file locations here are your project root directory, we need one that looks inside our vendor/ovr/phpsa folder.

[2018-03-20 19:08] Mte90 commented on #234
I think that also a way to exclude files be very useful.

[2018-03-20 22:16] Kilgaloon commented on #234
@Mte90 there is [feature] regarding that #344

[2018-03-27 17:07] ddmler commented on #346
php-parser version 4 is stable released now.
https://github.com/nikic/PHP-Parser/blob/master/UPGRADE-4.0.md
Looks like there a quite a few changes to the node structure so a lot of work to update everything here.

[2018-04-11 16:39] Kilgaloon commented on #344
@ovr @ddmler I guess this can be closed now.

[2018-04-12 07:07] #344 closed

[2018-06-12 22:01] MetalArend opened #355 "Checking for the version throws error"
If I run the `--version` command, phpsa is looking for git. If git is available, it will throw the error `fatal: Not a git repository (or any of the parent directories): .git`, which seems to be the same error as #102, but for another command.

[2018-07-09 03:00] armoour commented on #314
When i try to use **$_POST**, the same error shows;

[2018-07-09 03:05] armoour commented on #323
Same problem for **Thinkphp** applications;

[2018-07-09 03:35] armoour opened #356 "Some issues were closed and merged to master but i still can encounter those issues"
Such as #286 , it was closed on 2016,but now i still can reproduce:
**Notice: Undefined property: PhpParser\Node\Expr\ArrayDimFetch::$name in C:\ProgramData\ComposerSetup\bin\vendor\ovr\phpsa\src\Analyzer\Pass\Statement\UnexpectedUseOfThis.php on line 186
Notice:  It's not possible to fetch an array element on a non array in E:\*********** on 168 [language_error]
unset($seatNewArr[$key]);**

[2018-07-09 03:38] armoour commented on #356
And something is strange that my phpsa is 0.6.2,but the requirement for php is >=5.5(in composer.lock) while The README.MD is PHP>=7.0,it's very strange;

[2018-07-09 08:01] ddmler commented on #356
@armoour version 0.6.2 is from december 2016 since then there was no new release, you have to use the master branch to fix this bug.

[2018-07-09 08:57] Kilgaloon opened #357 "New Release"
@ovr I think it's time to create new release, there are new analyzers and bug fixes that atleast 0.7.0 can be tagged.

[2018-07-10 01:19] armoour commented on #353
i met this issue too.

[2018-07-10 07:33] ddmler commented on #356
The solution to that problem should be to copy the .phpsa.yml file from us into your projects root directory for now.

[2018-07-13 07:02] ddmler commented on #356
It seems that we have a bug in our file handling for windows. (your warning message) It uses any directory starting with p as the \p unicode category regex matcher. Try Linux or the unix subsystem for windows to fix this.

[2019-03-19 11:03] davidsneighbour opened #358 "Error on combined exceptions"
Using

[code]

the following code

[code]

throws an error

[code]

PHP Version:

[code]

In production this does not result in an error but works as expected (either one of the exceptions is catched). I am not sure if it was possible before PHP7.2, but in 7.2 definitely is valid code.

[2019-03-19 13:31] kilgaloon commented on #358
Hey @davidsneighbour

Are you using code from master or release tag one?

Multi exception catch is added in 7.1.

[2019-03-19 13:35] davidsneighbour commented on #358
I am using the latest phar release 0.6.2.

[2019-04-11 16:19] davidsneighbour opened #359 "False positive for unused-variable"
One of my database classes' method is as follows:

[code]

And PHPSA throws Warnings:

[code]

... which seems to be wrong in PHPSA's opinion.

How should the line

```$rowExists = $oDatabase->GetOne($sql) ?? 0;```

be refactored to appease PHPSA?

[2019-04-11 16:20] davidsneighbour commented on #359
Version: PHP Smart Analyzer version 0.6.2 #v11.2.107-2124-gbb5980c84aff

[2019-12-26 14:24] #358 closed, assigned to nobody

[2019-12-26 14:24] #359 closed, assigned to nobody

[2020-09-07 20:40] EvgenyOrekhov commented on #353
I am no longer interested in this. Feel free to reopen if needed.

[2020-09-07 20:40] #353 closed